<!--Mise en place du titre en couleur-->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">

<!--Mise en place du titre "Liste des os"-->
    <div class="liste-text-center">
        <h1><span class="liste-text"><u>Liste des OS</u></span></h1>
    </div>    

<!-- Passage de ligne -->
    <br>
    <br>

<!--Mise en place de la liste des OSs-->
    <h3><u>Voici la liste des OS:</u></h3>    
    {% if liste_os %}
        <ul>
            {% for os in liste_os %}
                <li>{{ os.name }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Aucun OS n'est disponible.</p>
    {% endif %}

<!-- Passage de ligne -->
    <br>
    <br>

<!--Mise en place d'un bouton pour créer un OS-->
    <div class="cadre-lien-retour">
        <p><u>Si vous souhaitez accéder à la page de création d'OS:</u></p>
        <a href="{% url 'creer_os' %}"><button class="bouton-creer-os">Créer un nouvel OS</button></a>
    </div>

<!--Mise en place d'un bouton pour supprimer un OS-->
<div class="cadre-lien-retour">
    <p><u>Si vous souhaitez accéder à la page de suppression d'OS:</u></p>
    <a href="{% url 'supprimer_os' %}"><button class="bouton-supprimer-os">Supprimer un OS</button></a>
</div>

<!--Bouton pour accéder à la page d'accueil-->
    <div class="cadre-lien-retour">
        <p><u>Si vous souhaitez accéder à la page d'accueil:</u></p>
        <a href="{% url 'accueil' %}"><button class="btn btn-primary-accueil">Retour à la page d'accueil</button></a>
    </div>
